<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.william.mapper.ContentMapper">

    <resultMap id="BaseResultMap" type="com.william.pojo.Content">
        <id column="cid" jdbcType="INTEGER" property="cid" />
        <result column="cgid" jdbcType="INTEGER" property="cgid" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="slug" jdbcType="VARCHAR" property="slug" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
        <result column="content_order" jdbcType="INTEGER" property="contentOrder" />
        <result column="author_id" jdbcType="INTEGER" property="authorId" />
        <result column="content_type" jdbcType="VARCHAR" property="contentType" />
        <result column="content_status" jdbcType="VARCHAR" property="contentStatus" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="views" jdbcType="INTEGER" property="views" />
        <result column="tag_list" jdbcType="VARCHAR" property="tagList" />
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.william.pojo.Content">
        <result column="content_text" jdbcType="LONGVARCHAR" property="contentText" />
        <result column="thumb" jdbcType="LONGVARCHAR" property="thumb" />
        <result column="description" jdbcType="LONGVARCHAR" property="description" />
    </resultMap>


    <insert id="insert" parameterType="com.william.pojo.Content">
        insert into content (cid, cgid, title,
                             slug, created_time, modified_time,
                             content_order, author_id, content_type,
                             content_status, password, views,
                             tag_list, content_text, thumb,
                             description)
        values (#{cid,jdbcType=INTEGER}, #{cgid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
                #{slug,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP},
                #{contentOrder,jdbcType=INTEGER}, #{authorId,jdbcType=INTEGER}, #{contentType,jdbcType=VARCHAR},
                #{contentStatus,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{views,jdbcType=INTEGER},
                #{tagList,jdbcType=VARCHAR}, #{contentText,jdbcType=LONGVARCHAR}, #{thumb,jdbcType=LONGVARCHAR},
                #{description,jdbcType=LONGVARCHAR})
    </insert>

    <select id="selectAllContent" resultMap="BaseResultMap">
        SELECT * FROM ssmbuild.content
    </select>

    <select id="findContentBySlugName" resultMap="ResultMapWithBLOBs" parameterType="String">
        SELECT * FROM ssmbuild.content WHERE slug = #{slug}
    </select>
</mapper>